body{
    margin: 0;
    background: var(--main-background-color);
    background-image: linear-gradient(-45deg, #ffffff, rgba(4, 7, 77, 0.617)
    , #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.event-block {
    display: flex;
    margin: 150px;
    min-width: 50vw;
    min-height: 60vh;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 13px 11px 50px var(--main-theme-color);
}

.event-block > div > img{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0;
}

#info-col {
    background-color:white;
    flex-direction: column;
    width: 50vw;
}

#info-col > div {
    color: black;
    text-align: left;
    margin : 10px;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Alkatra', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Crimson Text', serif;
    font-family: 'Expletus Sans', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Tilt Neon', cursive;
}

h2 {
    font-style: italic;
}

span {
    display: block;
}














